@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Plus Jakarta Sans";
}

.landing {
    background-color: #fafbfc;
    /* background-color: grey; */
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home h1 {
    color: whitesmoke;
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    font-size: 40px;
}

#home p {
    font-family: "Plus Jakarta Sans";
    color: whitesmoke;
}

#home button {

    border-radius: 20px;
    padding: 10px;
    color: whitesmoke;
    border: 1px solid transparent;
    background: linear-gradient(#0a0a0a, #0a0a0a) padding-box,
        linear-gradient(90deg, transparent, grey, transparent) border-box;

}

#home button:hover {
    border: 1px solid transparent;
    background: linear-gradient(#0a0a0a, #0a0a0a) padding-box,
        linear-gradient(90deg, transparent, #4ade80, transparent) border-box;

    color: #4ade80;
    box-shadow: 0 0 20px rgba(74, 222, 128, 0.066);
}

#about {
    color: whitesmoke;
    /* background-color: grey; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about >span{
  font-size: 50px;
  display: inline-block;
  padding-bottom: 30px;
}

.cards {
    display: flex;
    gap: 50px;
    padding: 10px;
    margin: 10px 80px;
    font-family: 'Plus Jakarta Sans';
    font-weight: lighter;
}

.card{
 padding: 30px;
  border-radius: 20px;
  min-height: 220px;

  color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.card1 {
  background: linear-gradient(#4ade8000, #0a0a0a, #0a0a0a) padding-box,
              linear-gradient(90deg, transparent, rgba(40, 125, 162, 0.4), transparent) border-box;
}

.card1:hover,
.card2:hover,
.card3:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.card2 {
  background: linear-gradient(#4ade8000, #0a0a0a, #0a0a0a) padding-box,
            linear-gradient(90deg, transparent, rgba(174, 80, 94, 0.4), transparent) border-box;

}

.card3 {
    background: linear-gradient(#4ade8000, #0a0a0a, #0a0a0a) padding-box,
              linear-gradient(90deg, transparent, rgba(156, 163, 175, 0.35), transparent) border-box;
}

.card-text span{
font-size: 20px;
display: inline-block;
margin-top: 100px;
}

.card-text p{
font-size: 15px;

}